footer {
  background-color: #2c343e;
  padding: 47px 0 47px 85px;
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__list {
    display: flex;
    align-items: center;
  }
  .footer__link {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
  }

  .footer__item:nth-child(2) {
    margin-left: 103px;
  }
  .footer__item:not(:nth-child(2)) {
    margin-left: 33px;
  }
  .footer__links {
    display: flex;
    width: 120px;
    justify-content: space-between;
  }
  .footer__link:hover {
    color: #fefcf7;
  }
  #shape:hover {
    fill: #fdd6ba;
  }
}
